* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('img/initialD2.jpg') no-repeat;
  background-size: cover;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.box{
  width: 500px;
  background:rgba(0,0,0,.4);
  margin: 0 auto;
  margin-top: 4%;
  padding: 20px;
  color: rgb(184, 183, 180);
  text-align: center;
  border-radius: 15px;
 
}

.box-img{
  border-radius: 10%;
}

.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  margin:30px 0 20px;
  color: red;
}

.img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: 2s ease-in-out;
}
.box h2{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  margin-bottom: 20px;
}

.box p{
  text-align: justify;
  color: rgb(241, 241, 252);
}

